@model InvitationCard
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "CreateNewInvitation";
    Layout = "~/Views/Shared/_BackViewLayout.cshtml";
}


<div id="colorlib-main">
    <section class="ftco-section contact-section">
        <div class="container">
            <div class="row block-9">
                <div class="col-md-12 order-md-last pr-md-5">
                    <h1>Creating new Album</h1>
                    <hr />
                    <form method="post" enctype="multipart/form-data" asp-controller="Designers" asp-action="CreateNewInvitation">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Inv_Title" class="control-label"></label>
                            <input asp-for="Inv_Title" class="form-control" />
                            <span asp-validation-for="Inv_Title" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Inv_Price" class="control-label"></label>
                            <input asp-for="Inv_Price" class="form-control" />
                            <span asp-validation-for="Inv_Price" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ImageFilePath" class="control-label"></label>
                            <input type="file" asp-for="ImageFilePath" class="form-control" multiple />
                            <span asp-validation-for="ImageFilePath" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Add New Invitation" class="btn btn-primary py-3 px-5">
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </section>
</div>

