@page
@model CheckEmailModel
@{
    ViewData["Title"] = "Check email";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";

}

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100" style="width: 500px !important">
                <h1>@ViewData["Title"]</h1>
                <p style="margin-top:20px; font-size:20px">
                    Please check your Email Account.
                </p>
            </div>
        </div>
    </div>