@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";

}

<h1>@ViewData["Title"]</h1>
<h4>Reset your password.</h4>
<hr />
@*<div class="row"> 
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="Input.Code" type="hidden" />
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Reset</button>
        </form>
    </div>
</div>*@
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100" style="width: 500px !important">
            <form class="login100-form" id="account" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <span class="login100-form-title p-b-26">
                    Enter your email
                </span>
                <span class="login100-form-title p-b-48">
                    <i class="fa fa-lock"></i>
                </span>
                <input asp-for="Input.Code" type="hidden" />
                <div class="wrap-input100 validate-input" data-validate="Valid Email is: a@b.c">
                    <input class="input100" asp-for="Input.Email">
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="wrap-input100 validate-input" data-validate="Enter password">
                    <span class="btn-show-pass">
                        <i class="zmdi zmdi-eye"></i>
                    </span>
                    <input class="input100" asp-for="Input.Password">
                    <span class="focus-input100" data-placeholder="Password"></span>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>

                </div>
                <div class="wrap-input100 validate-input" data-validate="Confirm password">
                    <span class="btn-show-pass">
                        <i class="zmdi zmdi-eye"></i>
                    </span>
                    <input class="input100" asp-for="Input.ConfirmPassword">
                    <span class="focus-input100" data-placeholder="Confirm Password"></span>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>

                </div>
                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn">
                            Reset
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
