@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100" style="width: 500px !important">
            <h1>@ViewData["Title"]</h1>
            <p style="margin-top:20px; font-size:20px" >
                Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
            </p>
        </div>
    </div>
</div>
